// cdxIconConfigure is not available in older versions of Codex
.mw-ui-icon-wikimedia-configure::before {
	-webkit-mask-image: url( https://oldcountry.net/resources/lib/codex-icons/images/configure.svg );
	mask-image: url( https://oldcountry.net/resources/lib/codex-icons/images/configure.svg );
}

// cdxIconArrowUp is not available in older versions of Codex
.mw-ui-icon-wikimedia-arrowUp::before {
	-webkit-mask-image: url( https://oldcountry.net/resources/lib/codex-icons/images/arrowUp.svg );
	mask-image: url( https://oldcountry.net/resources/lib/codex-icons/images/arrowUp.svg );
}
