@color-cosa-nostra-red: var(--color-cosa-nostra-red-700);

:root {
--color-renaissance-light-50: oklch(98.61% 0.01 53.76);
--color-renaissance-light-100: oklch(96.13% 0.02 53.76);
--color-renaissance-light-200: oklch(93.52% 0.03 53.76);
--color-renaissance-light-300: oklch(90.70% 0.04 53.76);
--color-renaissance-light-400: oklch(87.99% 0.05 53.76);
--color-renaissance-light-500: oklch(84.89% 0.06 53.76);
--color-renaissance-light-600: oklch(81.71% 0.07 53.76);
--color-renaissance-light-700: oklch(78.09% 0.08 53.76);
--color-renaissance-light-800: oklch(74.52% 0.085 53.76);
--color-renaissance-light-900: oklch(70.75% 0.09 53.76);
--color-renaissance-light-1000: oklch(67.54% 0.095 53.76);

--color-renaissance-dark-50: oklch(35.81% 0.01 53.76);
--color-renaissance-dark-100: oklch(33.33% 0.02 53.76);
--color-renaissance-dark-200: oklch(31.48% 0.04 53.76);
--color-renaissance-dark-300: oklch(29.38% 0.07 53.76);
--color-renaissance-dark-400: oklch(27.45% 0.08 53.76);
--color-renaissance-dark-500: oklch(25.08% 0.08 53.76);
--color-renaissance-dark-600: oklch(23.88% 0.07 53.76);
--color-renaissance-dark-700: oklch(21.28% 0.06 53.76);
--color-renaissance-dark-800: oklch(19.49% 0.05 53.76);
--color-renaissance-dark-900: oklch(17.04% 0.04 53.76);
--color-renaissance-dark-1000: oklch(15.50% 0.01 53.76);

--color-apple-blossom-50: oklch( 97.32% 0.01 31.30 );
--color-apple-blossom-100: oklch( 93.97% 0.02 31.30 );
--color-apple-blossom-200: oklch( 87.20% 0.03 31.30 );
--color-apple-blossom-300: oklch( 78.81% 0.05 31.30 );
--color-apple-blossom-400: oklch( 68.98% 0.08 31.30 );
--color-apple-blossom-500: oklch( 62.05% 0.10 31.30 );
--color-apple-blossom-600: oklch( 56.81% 0.11 31.30 );
--color-apple-blossom-700: oklch( 51.98% 0.10 31.30 );
--color-apple-blossom-800: oklch( 43.12% 0.08 31.30 );
--color-apple-blossom-900: oklch( 37.86% 0.06 31.30 );
--color-apple-blossom-1000: oklch( 25.01% 0.04 31.30 );

}
