    @color-apple-blossom-50: oklch(97.32% 0.01 53.55);
    @color-apple-blossom-100: oklch(93.97% 0.02 61.36);
    @color-apple-blossom-200: oklch(87.20% 0.03 54.68);
    @color-apple-blossom-300: oklch(78.81% 0.05 52.87);
    @color-apple-blossom-400: oklch(68.98% 0.08 45.46);
    @color-apple-blossom-500: oklch(62.05% 0.10 41.21);
    @color-apple-blossom-600: oklch(56.81% 0.11 35.34);
    @color-apple-blossom-700: oklch(51.98% 0.10 31.30);
    @color-apple-blossom-800: oklch(43.12% 0.08 28.51);
    @color-apple-blossom-900: oklch(37.86% 0.06 27.67);
    @color-apple-blossom-950: oklch(31.37% 0.05 26.28);
    @color-apple-blossom-1000: oklch(25.01% 0.04 25.31);

    --color-cosa-nostra-red: var(--color-cosa-nostra-red-700);
	--color-cosa-nostra-red-50: oklch(95% 0.029 28.503);
    --color-cosa-nostra-red-100: oklch(92% 0.048 28.503);
    --color-cosa-nostra-red-200: oklch(86% 0.072 28.503);
    --color-cosa-nostra-red-300: oklch(80% 0.102 28.503);
    --color-cosa-nostra-red-400: oklch(72% 0.129 28.503);
    --color-cosa-nostra-red-500: oklch(62% 0.155 28.503);
    --color-cosa-nostra-red-600: oklch(58% 0.182 28.503);
    --color-cosa-nostra-red-700: oklch(52% 0.203 28.503);
    --color-cosa-nostra-red-800: oklch(47% 0.179 28.503);
    --color-cosa-nostra-red-900: oklch(34% 0.125 28.503);
	--color-cosa-nostra-red-950: oklch(23% 0.0925 28.503);
    --color-cosa-nostra-red-1000: oklch(16% 0.06 28.503);
