@color-cosa-nostra-red: var(--color-cosa-nostra-red-700);

:root {
--color-renaissance-light-50: oklch(98.61% 0.01 67.83);
--color-renaissance-light-100: oklch(96.13% 0.02 89.66);
--color-renaissance-light-200: oklch(93.52% 0.03 86.12);
--color-renaissance-light-300: oklch(90.70% 0.04 81.10);
--color-renaissance-light-400: oklch(87.99% 0.05 82.75);
--color-renaissance-light-500: oklch(84.89% 0.06 78.08);
--color-renaissance-light-600: oklch(81.71% 0.07 71.58);
--color-renaissance-light-700: oklch(78.09% 0.08 65.97);
--color-renaissance-light-800: oklch(74.52% 0.085 61.75);
--color-renaissance-light-900: oklch(70.75% 0.09 58.14);
--color-renaissance-light-1000: oklch(67.54% 0.095 56.88);

--color-renaissance-dark-50: oklch(35.81% 0.01 80.68);
--color-renaissance-dark-100: oklch(33.33% 0.02 85.92);
--color-renaissance-dark-200: oklch(31.48% 0.04 86.57);
--color-renaissance-dark-300: oklch(29.38% 0.07 82.90);
--color-renaissance-dark-400: oklch(27.45% 0.08 79.47);
--color-renaissance-dark-500: oklch(25.08% 0.08 76.99);
--color-renaissance-dark-600: oklch(23.88% 0.07 70.50);
--color-renaissance-dark-700: oklch(21.28% 0.06 63.54);
--color-renaissance-dark-800: oklch(19.49% 0.05 59.60);
--color-renaissance-dark-900: oklch(17.04% 0.04 56.31);
--color-renaissance-dark-1000: oklch(15.50% 0.01 53.76);

--border-color-mix-1: light-dark( var(--color-renaissance-light-1000), var(--color-renaissance-dark-1000) );
--border-color-mix-2: light-dark( var(--color-renaissance-light-400), var(--color-renaissance-dark-400) );
--border-color-muted: color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 13%);
--border-color-subtle:color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 18%);
--border-color-base: color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 25%);
--border-color-interactive: color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 15%);
--border-color-interactive--hover: color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 40%);
--border-color-interactive--active: color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 30%);
--border-color-emphasized: color-mix(in oklch, var(--border-color-mix-1), var(--border-color-mix-2) 45%);

}
